.button {
	-fx-background-color: rgba(125, 125, 125, 0.5);
	-fx-border-width: 0;
}

.button:hover {
	-fx-background-color: rgba(125, 125, 125, 0.85);
}

.text-area .content {
	-fx-background-color: rgba(125, 125, 125, 0.5);
	-fx-border-width: 0;
	-fx-font-color: white;
}